@font-face {
    font-family: cowboy_fonts;
    src: url(fonts/rio-grande/RioGrande.ttf);
}

body {
    font-family: cowboy_fonts, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/5_background/complete_background.png);
    text-align: center;
}

.d-none {
    display: none;
}

h1 {
    font-size: 60px;
    margin-top: 8%;
}

#gameConainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


#fullscreen {
    background-image: url("/img/5_background/complete_background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


canvas {
    background-color: black;
    display: none;
}

#startScreen {
    width: 820px;
    height: 480px;
    position: relative;
    background-image: url("/img/9_intro_outro_screens/start/startscreen_1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#gameSettings {
    margin-top: .5rem;
    display: flex;
    justify-content: space-around;
}

.gameSettingBox {
    margin: 0 .9rem;
}

#gameSettings img {
    width: 40px;
    height: 40px;
}

#iconTaskBar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: .4rem;
}



#iconTaskBar img {
    width: 40px;
    height: 40px;
    padding-right: 8px;
}


#soundBox {
    margin-left: 10px;
}

.iconBox {
    border: 3px solid black;
    border-radius: 5px;
    border-style: dotted;
    padding: .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.cp {
    cursor: pointer;
}

.gameOver {
    display: none;
}

#endGameScreen {
    width: 820px;
    height: 480px;
    position: relative;
    background-image: url("img/5_background/first_half_background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border: 1px solid black;
    display: flex;
    align-items: center;
    align-items: center;
}

.lostOrWinScreen {
    width: 100%;
    height: 100%;
}



.newGameBtn, .goToStartScreen {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 85px;
    margin: 0 auto;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border-radius: 2px solid black;
    background-color: gold;
    font-family: cowboy_fonts, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    cursor: pointer;
    transition: transform .3s ease-in-out, background-color 0.3s ease-in-out;
}

.goToStartScreen {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: 0 auto;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border-radius: 2px solid black;
    background-color: gold;
    font-family: cowboy_fonts, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    cursor: pointer;
    transition: transform .3s ease-in-out, background-color 0.3s ease-in-out;
}

.newGameBtn:hover {
    transform: scale(1.1);
    background-color: rgb(232, 200, 19);
}


.dImage {
    width: 30px;
    height: 30px;
}

#gameSettings :hover {
    transform: scale(1.1);
}

#gameSettings :hover img {
    transform: scale(1);
}

#gameSettings :hover span {
    transform: scale(1);
}

#iconTaskBar :hover {
    transform: scale(1.1);
}

#iconTaskBar :hover span {
    transform: scale(1);
}

#iconTaskBar :hover img {
    transform: scale(1);
}

#canvasContainer {
    position: relative;
}

.moveContainer {
    display: flex;
    justify-content: flex-start;
}

.moveContainer button {
    margin-left: 20px;
    background-color: gold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.moveContainer img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: gold;
}

.canvasBox {
    position: absolute;
    top: 90%;
    width: 100%;
    height: 45px;
    /* background-color: black; */
}
#mobileScrenn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gold;
    z-index: 5;
}

h2 {
    border: 2px solid black;
    padding: 2rem;
    font-size: 2rem;
    max-width: 80%;
    border-style: dashed;
    border-radius: 20px;
    text-wrap: balance;
}



@media only screen and (min-width:850px) {

    #mobileScrenn {
        display: none;
    }
}